body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

a {
    color: black;
    text-decoration: None;
}

a:hover {
    text-decoration: None;
}

nav .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  

}

nav .header .header_items {
    display: flex;
    gap: 15px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

nav .header .header_items .bold {
    font-weight: bold;
}

button {
    font-size: 20px;
    padding: 15px;
    background: #81A181;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.logout-btn {
    background: #B54E4E;
    font-size: 16px;
}