body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

a {
    color: black;
    text-decoration: None;
}

a:hover {
    text-decoration: None;
}

nav .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  

}

nav .header .header_items {
    display: flex;
    gap: 15px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

nav .header .header_items .bold {
    font-weight: bold;
}

button {
    font-size: 20px;
    padding: 15px;
    background: #81A181;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.logout-btn {
    background: #B54E4E;
    font-size: 16px;
}

.ticket-box {
    width: 350px;
    margin: 80px auto;
    padding: 24px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.ticket-box img {
    width: 300px;
    height: 350px;
    object-fit: cover;
}

.ticket-box p {
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
}