{% load static %}

<html>

<head>
    <title>LITRevu</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
</head>

<body>
    <nav>

        {% if user.is_authenticated %}
        <div class="header">
            <p><a href="">Flux</a></p>
            <p><a href="">Posts</a></p>
            <p><a href="">Abonnements</a></p>
            <p class="bold">{{request.user|upper}}</p>
            <p>
            <form method="post" action="{% url 'logout-page' %}">
                {% csrf_token %}
                <button class="cancel-btn" type="submit">Se déconnecter</button>
            </form>
            </p>
        </div>
        {% endif %}


    </nav>

    {% block content %}{% endblock content %}



</body>

</html>