{% extends 'base.html' %}
{% load static %}

{% block extras_css %}
<link rel="stylesheet" href="{% static 'pages/ticket_review.css' %}">
{% endblock extras_css %}

{% block content %}

<main class="publication-page">
    <section class="publication-card">
        <h2>Supprimer le ticket</h2>

        <p class="delete-confirmation-text">Etes-vous sur de vouloir supprimer le ticket : <strong>{{ ticket.title }}</strong> ?</p>

        <form class="publication-form" action="" method="post">
            {% csrf_token %}
            <button class="danger-btn" type="submit">Supprimer</button>
        </form>

        <div class="form-actions">
            <a class="cancel-btn" href="{% url 'edit-ticket' ticket.id %}">Retour</a>
        </div>
    </section>
</main>

{% endblock content %}
