{% extends 'base.html' %}
{% load static %}

{% block extras_css %}
<link rel="stylesheet" href="{% static 'pages/feed_page.css' %}">
<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
{% endblock extras_css %}

{% block content %}

<main class="feed-page">

    <section class="feed-list">
        {% if page_posts %}
            {% for post in page_posts %}
            {% if post.title %}
                {% include "app/partials/post_ticket.html" %}
            {% elif post.headline %}
                {% include "app/partials/post_review.html" %}
            {% endif %}
            {% endfor %}
        {% else %}
            <section class="empty-feed">
                <p>Aucun post de disponible</p>
            </section>
        {% endif %}

        <div class="feed-pagination">
            {% include "app/partials/pagination.html" %}
        </div>

    </section>
</main>

{% endblock content %}
